<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="app.css" />
	</head>
	<body>
		<main class="fill">
			<iframe src="{{ qwc2.url }}" seamless></iframe>
		</main>
	</body>
</html>

{#
vim:ft=html.jinja:
#}
