<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="app.css" />
	</head>
	<body>
		<main class="fill">
			<section id="device-settings">
				<h2> Device </h2>
				<form>
					{% if session.get('backlight') is none %}
					<fieldset>
						<label for="brightness">Brightness</label><input id="brightness" type="range" min="1" max="100" value="{{ (session.get('backlight')|float(0.5) * 100.0)|int }}" />
					</fieldset>
					{% endif %}
				</form>
			</section>
		</main>
		<script type="text/javascript">
const brightnessSlider = document.getElementById("brightness")
if (brightnessSlider !== null) {
	brightnessSlider.oninput = function() {
		percent = brightnessSlider.value
		level = percent / 100.0

		const xhttp = new XMLHttpRequest()
		xhttp.open("POST", "/api/host/backlight?level=" + level, true)
		xhttp.send()
	}
}
		</script>
	</body>
</html>

{#
vim:ft=html.jinja:
#}
