body {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0;
	height: 100vh;
}

body>* {
	align-items: center;
}

main, .page {
	display: flex;
	flex-direction: column;
	padding: 0;
	width: 100%;
	max-width: 100vw;
}

main>*, .page>*, .fill {
	flex: 1 1;
	width: 100%;
	padding: 0;
}

section {
	display: flex;
	flex-direction: column;
	width: 40%;
	padding: 2vh 30%;
	align-items: center;
	align-self: center;
}

section>* {
	width: 100%;
}

h1, h2 {
	text-align: center;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 1% 0;
}

fieldset>* {
	display: inline-block;
	vertical-align: middle;
}

fieldset label {
	width: 20%;
}

fieldset input {
	width: 80%;
	margin: 0;
}

footer {
	display: flex;
	flex-direction: row;
	background-color: #EEEEEE;
	align-items: center;
	width: 100%;
}

nav {
	display: flex;
	flex-direction: row;
}

nav * {
	padding: 0 3%;
	font-size: xx-large;
	background: #DDDDDD;
	border-right: 1px solid #CCCCCC;
	color: #000000;
	text-decoration: none;
}

nav *:active {
	background: #DDDDFF;
	color: #000066;
	text-decoration: underline;
}

iframe[seamless] {
	border: none;
}
